<footer class="container-footer">
    <div class="max-container footer-links">
        <section class="container-links">
            <ul class="dep-links">
                <h4>Atendimento</h4>

                <li>
                    <a href="#"><img src="/arquivos/icon-tel.png" />(xx)xxxx-xxxx</a>
                </li>
                <li>
                    <a href="#"><img src="/arquivos/icon-zap.png" />(xx) xxxx-xxxx</a>
                </li>
            </ul>
        </section>
        <section class="container-links">
            <ul class="dep-links">
                <h4>SEGUE A GENTE</h4>
                <a href="#" class="icon-social">
                    <img src="/arquivos/fb.png" alt="facebook" class="img-resposive" />
                </a>
                <a href="#" class="icon-social">
                    <img src="/arquivos/insta.png" alt="instagram" class="img-resposive" />
                </a>
                <a href="#" class="icon-social">
                    <img src="/arquivos/yt.png" alt="youtube" class="img-resposive" />
                </a>
            </ul>
        </section>
        <section class="container-links">
            <ul class="dep-links">
                <h4>FORMAS DE PAGAMENTO</h4>
                <div class="icon-pag-container">
                    <img src="/arquivos/selo-hipercard.png" alt="Hipercard" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-mastercard.png" alt="MasterCard" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-pagseguro.png" alt="PagSeguro" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-visa.png" alt="Visa" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-diners.png" alt="Diners" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-elo.png" alt="Elo" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-amex.png" alt="American express" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-boleto.png" alt="Boleto" class="icon-pag img-resposive" />
                </div>
            </ul>
        </section>

    </div>
</footer>

<footer class="container-vinci">
    <div class="max-container">
        <div class="container-vinci-content">
            <span>Marias Make Comércio - 12.345.678/0001-23.

                Rua do Endereço, 123 - Bairro - Cidade - UF</span>
            <span>
                <p class="bold">Powered by:</p>
                <img src="/arquivos/vtexlogo.png" class="img-responsivo"/>
            </span>
            <span>
                <p class="bold">Desenvolvido por:</p>
                <img src="/arquivos/logo_vinci.png" class="img-responsivo"/>
            </span>
        </div>
    </div>
</footer>