<aside class="newsletter">
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="geral.css" />

    <div class="max-container">
        <header class="container-title">
            <h5 class="title">ASSINE NOSSA NEWSLETTER</h5>
            <h6 class="subtitle">Cadastre-se e receba novidades, dicas e ofertas exclusivas no seu e-mail</h6>
        </header>
        <form class="container-input">
            <input type="text" placeholder="Digite seu nome" id="nome" required="true" />
            <input type="email" placeholder="Digite seu email" id="email" required="true" />
            <button type="submit" class="btn-send">FAZER PARTE</button>
        </form>
    </div>

</aside>
<footer class="container-footer">
    <div class="max-container footer-links">
        <section class="container-links">
            <ul class="dep-links js-categorias-footer">
                <h4>AJUDA</h4>
                <li style="opacity: 1;"><a href="#">Entrega</a></li>
                <li style="opacity: 1;"><a href="#">Trocas e Devolução</a></li>
                <li style="opacity: 1;"><a href="#">Política de Privacidade</a></li>
            </ul>

        </section>

        <section class="container-links">
            <ul class="dep-links js-categorias-footer">
                <h4>CONTATO</h4>

                <li>
                    <a href="tel:(xx)xxxx-xxxx"><img src="/arquivos/icon-tel.png" />(XX) XXXX-XXXX</a>
                </li>
                <li>
                    <a href="tel:(xx)xxxx-xxxx"><img src="/arquivos/icon-tel.png" />(XX) XXXX-XXXX</a>
                </li>
                <li>
                    <a href="tel:(xx)xxxx-xxxx"><img src="/arquivos/icon-zap.png" />(XX) XXXXX-XXXX</a>
                </li>
                <li style="opacity: 1;"><a href="#">sac@mariasmake.com.br</a></li>
            </ul>
        </section>

        <section class="container-links">
            <ul class="dep-links">
                <h4>INSTITUCIONAL</h4>

                <li style="opacity: 1;"><a href="#">Quem somos</a></li>
                <li style="opacity: 1;"><a href="#">Sobre nós</a></li>
            </ul>
        </section>

        <section class="container-links">
            <ul class="dep-links">

                <h4>SIGA A MARIAS</h4>
                <a style="opacity: 1; pointer-events: none;" href="#" class="icon-social">
                    <img src="/arquivos/fb.png" alt="facebook" class="img-resposive" />
                </a>
                <a style="opacity: 1; pointer-events: none;" href="#" class="icon-social">
                    <img src="/arquivos/insta.png" alt="instagram" class="img-resposive" />
                </a>

            </ul>
        </section>

        <section class="container-links">
            <ul class="dep-links">
                <h4>PAGAMENTO</h4>
                <div class="icon-pag-container">
                    <img src="/arquivos/selo-hipercard.png" alt="Hipercard" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-mastercard.png" alt="MasterCard" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-pagseguro.png" alt="PagSeguro" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-visa.png" alt="Visa" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-diners.png" alt="Diners" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-elo.png" alt="Elo" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-amex.png" alt="American express" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-boleto.png" alt="Boleto" class="icon-pag img-resposive" />
                </div>
            </ul>
            <ul class="dep-links">
                <h4>SEGURANÇA</h4>
                <a style="opacity: 1; pointer-events: none;" href="#" class="icon-social">
                    <img src="/arquivos/Layer 30.png" alt="Layer30" class="img-resposive" />
                </a>

            </ul>
        </section>

    </div>
</footer>
<footer class="container-vinci">
    <div class="max-container">
        <div class="container-vinci-content">
            <span>Marias Make Comércio - 12.345.678/0001-23.

                Rua do Endereço, 123 - Bairro - Cidade - UF</span>
            <span>
                <p class="bold">Powered by:</p>
                <img src="/arquivos/vtexlogo.png" class="img-responsivo"/>
            </span>
            <span>
                <p class="bold">Desenvolvido por:</p>
                <img src="/arquivos/logo_vinci.png" class="img-responsivo"/>
            </span>
        </div>
    </div>
</footer>