<header class="main-topbar">
    <div class="max-container">
        <span class="head-atendimento">
                            <a style="opacity: 1; pointer-events: none;" href="#" class="icon-social">
                    <img src="/arquivos/fb.png" alt="facebook" class="img-resposive" />
                    </a>
                        <a style="opacity: 1; pointer-events: none;" href="#" class="icon-social">
                    <img src="/arquivos/insta.png" alt="instagram" class="img-resposive" />
                </a>
        </span>
    </div>
</header>

<!-- MAIN HEAD -->
<header class="main-head">
    <div class="max-container">
        <div class="container-search">
            <vtex.cmc:fullTextSearchBox/>
        </div> 
        <div class="container-logo">
            <a href="/"><img src="/arquivos/logo.png" alt="Logo" class="img-responsive" /></a>
        </div>
       
        <div class="container-profile-controls">
            <a href="/account"><img src="/arquivos/profile-img.png" alt="profile" />
            Olá, visitante!
            </a>
            <button class="toggler-search-mobile">
                <img src="/arquivos/lupa.png" class="toggler-search" />
            </button>
            <a href="" class="toggler-cart">
                <img src="/arquivos/cart-img.png" alt="carrinho" />
                <span class="mini-cart-qty-admake">0</span>
            </a>
        </div>
    </div>


    <div class="carrinho">
        <div id="mini-cart-admake-aux" class="hidden">
            <vtex.cmc:miniCart />
        </div>
        <div class="carrinho-header max-container">
            <span>Meu Carrinho</span>
            <div class="toggler-cart">
                <img src="/arquivos/xlogin.png" class="img-responsive" />
            </div>
        </div>

        <div class="max-container">

            <div class="mini-cart-itens">

            </div>
            <div class="cart-inf">
                <div class="mini-cart-totais">

                    <div class="mini-cart-botao">
                        <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Finalizar Pedido</a>
                    </div>
                </div>
                <div class='calc-frete'>
                    <input type='text' class='field-frete' placeholder='calcular frete' />
                    <input type='submit' class='btn-frete' value="Calcular" />
                </div>
            </div>

        </div>
    </div>
</header>



<!-- NAVBAR -->
<nav class="menu-container">
    <div class="max-container">

        <ul class="main-menu">
        </ul>
        <div></div>
    </div>
</nav>

<div class="box-shadow menu-toggler"></div>