<article class="icon">
    <!-- MUDE APENAS O LINK DA IMAGEM SRC="LINK" -->
    <img src="/arquivos/home-icon1.png" class="img-responsive" />
    <p>
        <!-- TEXTO ENTRE O ESPAÇO -->

        Frete grátis acima de <strong>R$ 250,00</strong>

        <!-- TEXTO ENTRE O ESPAÇO -->
    </p>
</article>