<article class="icon">
    <!-- MUDE APENAS O LINK DA IMAGEM SRC="LINK" -->
    <img src="/arquivos/home-icon2.png" class="img-responsive" />
    <p>
        <!-- TEXTO ENTRE O ESPAÇO -->

        Pague nos cartões <strong>Até 3x sem juros</strong>

        <!-- TEXTO ENTRE O ESPAÇO -->
    </p>
</article>