@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,423;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,423;1,500;1,600;1,700&display=swap");

/* TEMPLATE VARIABLES */

:root {
    --theme-color-1: #b81a64;
    --theme-color-2: #b81a64;
    --theme-color-3: #fff;
    --theme-color-4: #E5E5E5;
    --theme-color-5: #BEBFBF;
    --theme-color-6: #b81a64;
    --theme-color-7: #FFFBF6;
    --theme-color-8: #1A8795;
    --theme-color-9: #cecece;
    --theme-color-10: #8798A4;
    --theme-color-11: #999999;
    --theme-color-12: #4A4951
}

*,
body {
    font-family: 'Josefin Sans',sans-serif;
}


/*header*/

.topo {
    background: var(--theme-color-1);
    padding: 15px 0;
}

.topo img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    filter: brightness(100);
}

.default-modal-body,
.default-modal,
.default-modal i:before {
    background: var(--theme-color-2);
    color: white;
}

.default-modal-body .btn {
    color: var(--theme-color-2) !important;
    background: var(--theme-color-3) !important;
}


/*********************************
************* PADRAO *************
*********************************/

body {
    padding: 0 !important;
    font-size: 16px;
}

.max-container {
    width: calc(100% - 100px);
    max-width: 1200px;
    margin: 0 auto;
}

@media all and (max-width:567px) {
    .max-container {
        width: calc(100% - 0px);
    }
}

li {
    list-style: none !important;
}

.table thead th {
    vertical-align: bottom;
    color: var(--theme-color-1);
    letter-spacing: 1px;
}

td.product-name a {
    color: #333 !important;
    font-size: 16px;
}

i::before {
    color: var(--theme-color-2);
}

.cart-more-options.span7 {
    margin: 0;
}

.onda-v1 .mw5 {
    max-width: 16rem;
    font-weight: 300;
    letter-spacing: 1px;
}

button,
.btn {
    background: var(--theme-color-2) !important;
    color: var(--theme-color-3) !important;
    border-radius: 0 !important;
    padding: 0px 20px !important;
    font-weight: 300 !important;
    border: 0 !important;
    letter-spacing: 1px;
    box-shadow: none !important;
    font-size: 18px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.onda-v1 .black-60 {
    color: #000 !important;
}

.full-cart .summary-totalizers .empty {
    width: 40px;
    display: none !important;
}

.full-cart .summary-totalizers .monetary {
    padding: 8px 0;
    text-align: right !important;
}

.full-cart .summary-totalizers .info {
    text-align: right;
    font-weight: 300 !important;
}

p.coupon-data {
    text-align: right !important;
}

p.coupon-data a {
    color: #000;
}

h1 {
    color: #000 !important;
}

.link-choose-more-products {
    margin-right: 15px;
    color: var(--theme-color-2) !important;
    border: 2px solid var(--theme-color-2);
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0px 15px;
    vertical-align: middle;
}

.client-pre-email .btn-success {
    height: calc(100% - 4px) !important;
}


/**********************************************************
  **************** CONTAINER DEPARTAMENTOS ******************
  **********************************************************/

.container-footer {
    background: var(--theme-color-2);
    padding-top: 70px;
}

.container-footer .max-container {
    max-width: 950px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.icon-pag-container {
    max-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
    margin-bottom: 60px;
}

.dep-links {
    margin-bottom: 16px;
}

.dep-links li {
    margin-bottom: 10px;
}

a.icon-social {
    display: inline-block;
    margin-right: 20px;
}

.dep-links h4 {
    color: var(--theme-color-5);
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.dep-links a {
    font-weight: 400;
    font-size: 14px;
    color: var(--theme-color-5);
}

.dep-links li a>img {
    margin-right: 10px;
}


/**********************************************************
******************** CONTAINER VINCI **********************
**********************************************************/

.container-vinci {
    background: var(--theme-color-2);
}

.container-vinci .max-container {
    border-top: 1px solid var(--theme-color-7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    padding-right: 20px;
}

.container-vinci span {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: var(--theme-color-7);
    letter-spacing: 1px;
}

.container-vinci .max-container>* {
    flex: 1;
}

.container-vinci span:last-child p {
    font-weight: 700;
    color: #ffffff;
    font-size: 9px;
    display: inline-block;
    margin-right: 20px;
}

@media all and (max-width: 991px) {
    .newsletter .max-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container-input #email {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
    .container-input .btn-send {
        width: 100%;
        box-sizing: border-box;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 767PX ******************
  **********************************************************/

@media all and (max-width: 767px) {
    .container-input #email {
        text-align: center;
    }
    .container-footer {
        padding: 50px 0;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .icon-pag-container {
        margin: 0 auto;
    }
    .dep-links {
        margin: 0 auto;
    }
    .dep-links {
        margin-top: 20px;
    }
    .container-vinci .max-container {
        flex-direction: column;
        text-align: center;
    }
    .logo-vinci {
        margin: 20px 0;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .logo-vinci p {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
    }
}