.newsletter {
    background: #393939 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 36px 0 26px;
    margin: 0 auto;
    margin-bottom: 3;
    background: url('/arquivos/thumbnail_banner-newsletter.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #393939;
}

.newsletter .max-container {
    max-width: 690px;
    text-align: center;
}

.newsletter .title {
    font-weight: Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.newsletter .subtitle {
    font-weight: Normal;
    font-size: 21px;
    padding: 11px 0 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.container-input #email {
    font-style: Italic;
    font-weight: normal;
    letter-spacing: 0px;
    color: white;
    border: 1px solid #FFFFFF;
    border-width: 0 0 1px 0;
    opacity: 1;
    padding: 5px;
    height: 30px;
    font-size: 12px;
    width: 265px;
    margin: 5px;
    background-color: #393939;
    box-sizing: border-box;
}

.container-input #nome {
    font-style: Italic;
    font-weight: normal;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-width: 0 0 1px 0;
    opacity: 1;
    padding: 5px;
    height: 30px;
    font-size: 12px;
    width: 265px;
    background-color: #393939;
    margin: 5px;
    box-sizing: border-box;
}

.container-input #email::-webkit-input-placeholder {
    color: #FFFFFF;
}

.container-input #email::-moz-placeholder {
    color: #FFFFFF;
}

.container-input #email:-ms-input-placeholder {
    color: #FFFFFF;
}

.container-input #email::-ms-input-placeholder {
    color: #FFFFFF;
}

.container-input #email::placeholder {
    color: #FFFFFF;
}

.container-input .btn-send {
    font-style: bold;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 1;
    height: 35px;
    background: #E54892 0% 0% no-repeat padding-box;
    border-radius: 3px;
    width: 100%;
    max-width: 170px;
    text-align: center;
    border: 0;
    margin-top: 25px;
    transition: 0.3s;
}

.container-input .btn-send:hover {
    background: #B81A64 0% 0% no-repeat padding-box;
    max-width: 190px;
}

.container-footer {
    background: #B81A64 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 50px 0;
    padding-bottom: 0
}

.container-footer .max-container {
    max-width: 1200px
}

.footer-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.icon-pag-container {
    max-width: 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 7px 1fr 7px 1fr 7px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
    margin-bottom: 60px
}

.dep-links {
    margin-bottom: 30px;
    min-width: 165px;
}

.dep-links li {
    margin-bottom: 10px
}

a.icon-social {
    display: inline-block;
    margin-right: 20px
}

.dep-links h4 {
    color: var(--theme-color-3);
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase
}

.dep-links a {
    t: 400;
    font-size: 14px;
    color: var(--theme-color-3);
}

.dep-links li a>img {
    margin-right: 10px
}

.container-vinci {
    background: #E54892 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container-vinci .max-container {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0;
    padding-right: 20px
}

.container-vinci span {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: var(--theme-color-7);
    letter-spacing: 1px
}

.logo-vinci p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px
}

.logo-vinci img {
    width: 90px;
    display: block;
    margin-left: auto
}

footer .bold {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px
}

.container-vinci-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1050px;
    width: 100%;
    margin: auto
}

.container-links:nth-last-child(1) .dep-links h4:after {
    content: ''
}

.container-vinci-content img {
    max-width: 80px
}

@media all and (max-width:991px) {
    .newsletter .subtitle {
        margin: 0 auto;
        margin-top: 5px
    }
    .newsletter .max-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .container-input #email {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 5px;
        box-sizing: border-box
    }
    .container-input #nome {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
    .container-input .btn-send {
        width: 100%;
        box-sizing: border-box
    }
}

@media all and (max-width:767px) {
    .dep-links h4:after {
        content: "\f0d7";
        position: absolute;
        font-family: FontAwesome;
        right: 20px;
        -webkit-transition: all .3s;
        transition: all .3s
    }
    .dep-links.active h4:after {
        content: "\f0d7";
        position: absolute;
        font-family: FontAwesome;
        right: 20px;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    footer .bold {
        display: block;
        margin-right: 0
    }
    .logo-vinci img {
        margin: 0 auto
    }
    .newsletter .subtitle {
        margin: 10px auto
    }
    .container-input #email {
        text-align: center
    }
    .container-input #nome {
        text-align: center
    }
    .container-footer {
        padding: 0
    }
    .footer-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .icon-pag-container {
        margin: 0 auto
    }
    .dep-links {
        margin: 0 auto
    }
    .dep-links {
        margin-top: 20px
    }
    .container-vinci .max-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 0 0 20px
    }
    .logo-vinci {
        margin: 20px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .logo-vinci p {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px
    }
    .container-vinci span {
        margin: 15px auto 0;
        display: block
    }
    .container-vinci-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (max-width:768px) {
    .dep-links {
        max-height: 55px;
        overflow-y: hidden;
        height: auto;
        -webkit-transition: all .5s;
        transition: all .5s;
        display: block;
        margin-top: 0;
    }
    .dep-links.active {
        max-height: 700px
    }
    .container-links:nth-last-child(1) .dep-links {
        max-height: 5000px;
        border-bottom: 0;
        margin-bottom: 20px
    }
    .dep-links h4 {
        margin-top: 20px;
        margin-bottom: 20px
    }
    footer .container-links {
        width: 100%
    }
    .container-footer .max-container {
        width: 100%;
        padding: 0;
        margin: auto
    }
    .dep-links li {
        background: #e54892;
        line-height: 50px;
        margin-bottom: 0
    }
}