.main-banner .arrow-banner {
    width:20px;
    height:20px
}
.main-banner .owl-prev {
    left:20px!important
}
.main-banner .owl-next {
    right:20px!important
}
.main-banner {
    margin-bottom:0px;
}
.main-icons {
    margin:20px auto;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    border:1px solid var(--theme-color-10);
    margin-bottom:20px;
    border:none
}
.main-icons .icon {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    min-height:100px;
    background:#fff
}
.main-icons .icon p {
    text-align:left;
    max-width:175px;
    font-size:14px;
    font-weight:700;
    color:var(--theme-color-12);
    padding:20px 0;
    margin-left:25px;
    text-transform:uppercase;
    padding:0 25px
}
.backgroundbranco {
    background-color:#f0f0f0;
    height:auto;
    margin-top: -20px;
    margin-bottom: 30px;
}
.arrow-right {
    width:0;
    height:0;
    border-right:15px solid #b81a64;
    border-bottom:8.5px solid transparent;
    border-top:8.5px solid transparent;
    display:block;
    padding:0;
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg)
}
.arrow-box-right {
    background:#ffffff80;
    height:66px;
    width:33px;
    margin-right:106px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
.arrow-box-left {
    background:#ffffff80;
    height:66px;
    width:33px;
    margin-left:106px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
.arrow-left {
    width:0;
    height:0;
    border-right:15px solid #b81a64;
    border-bottom:8.5px solid transparent;
    border-top:8.5px solid transparent;
    display:block;
    padding:0
}
@media all and (max-width:991px) {
    .main-icons {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .main-icons .icon {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
        padding:20px 0!important
    }
    .main-icons .icon p {
        padding:0!important;
        margin:10px 0;
        text-align:center
    }
    .main-icons .icon+.icon {
        border-left:unset!important
    }
    .main-icons .slick-next,
    .main-icons .slick-prev {
        display:none!important
    }
    .backgroundbranco,
    .main-icons .icon {
        /*! background:unset; */
        /*! background-color:unset */
    }
    .icon.slick-slide {
        opacity:.5;
        -webkit-transform:scale(.6);
        -ms-transform:scale(.6);
        transform:scale(.6);
        -webkit-transition:.1s;
        transition:.1s
    }
    .icon.slick-active {
        opacity:.8;
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        transform:scale(.8)
    }
    .icon.slick-active.slick-current {
        background:#fff;
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
@media all and (max-width:767px) {
    .icon.slick-slide {
        background:#fff;
        background-color:#fff;
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        transform:scale(.8);
        opacity:.8
    }
    .main-icons .icon p {
        padding:0 20px!important;
        margin:10px 0;
        text-align:center;
        font-size:10px
    }
}
@media all and (max-width:567px) {
    .icon.slick-slide {
        background:#fff;
        background-color:#fff;
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        transform:scale(.8);
        opacity:.8
    }
    .icon.slick-active,
    .icon.slick-active.slick-current {
        background:#fff;
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    .main-icons .icon p {
        padding:0 20px!important;
        margin:10px 0;
        text-align:center;
        font-size:10px
    }
}

.banners-container {
    display: grid;
    grid-template-columns:minmax(auto, 590px) minmax(auto, 590px);
    grid-gap:20px;
    justify-content: center;
    margin: 20px auto;
}

@media all and (max-width:768px) {
    .banners-container {
        grid-template-columns:minmax(auto, 590px);
    }
}

.bannermarcas{
    margin-top:40px;
    margin-bottom:40px;
}


.marcas-title {
    display:block;
    margin-bottom:32px;
    color:var(--theme-color-1)
}
.marcas-title p {
    font-weight:bold;
    font-size:24px;
    color:#484848;
    text-align:center;
    padding-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
    text-transform: uppercase;
}

.marca-link{
    text-align: center; /*remove*/
    height: 150px;
    background: #ffffff;
    color:grey;
    line-height:150px;
    margin:0px 20px;
    transition: .3s;
    display: flex;
}

.marca-link:hover {
    opacity: 0.7;
}


.marca-link img{
    margin:auto;}

.banners-container .box-banner img,.bannermarcas .box-banner img{
transition:.2s;
}

.banners-container .box-banner img:hover,.bannermarcas .box-banner img:hover{ 
    opacity: 0.7;
}

.banners-container .box-banner ,.bannermarcas .box-banner{
    background-color:#b81a64;
}



/* Element | http://marias.vtexlocal.com.br/# */

.main-icons div.box-banner > a {
        width: 100%;
}

/* Element | http://marias.vtexlocal.com.br/# */
.main-icons div.box-banner > a img {
        width: 100%;
        max-width: 260px;
        margin: auto;
}



/* home.css | http://marias.vtexlocal.com.br/arquivos/home.css?v=637324102846500000 */
@media all and (min-width:992px) {
    .main-icons div.box-banner {
            border-right:#dcdcdc 1px solid;
    }

    .main-icons div.box-banner:last-child {
            border-right: 0px;
    }
}