.product-image .zoomPad {
    position: relative
}

.product-image .zoomWindow {
    overflow: hidden;
    left: 0!important;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3
}

.product-image .zoomWrapperImage img {
    max-width: none!important
}

.product-image .zoomWrapperTitle {
    display: none!important
}

.item_doesnt_exist {
    opacity: .3;
    cursor: not-allowed
}

.bg-product {
    background: #fff
}

.bread-brumb>div {
    padding-top: 9px;
}

.bread-brumb>div>ul>li>a {
    color: #484848;
}

.bread-brumb>div>ul {
    line-height: 10px;
    font-family: Josefin Sans;
}

.bread-brumb>div>ul>li>a>span {
    color: #B81A64;
    font-weight: bold;
}

.bread-brumb li::after {
    content: '>';
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-9);
    padding: 0 5px
}

.bread-brumb li.last::after {
    display: none
}

.bread-brumb li {
    display: inline-block;
    text-transform: capitalize
}

.bread-brumb a {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-9);
    font-size: 10px;
}

.product-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-top: 27px;
}

.product-image {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    text-align: center
}

.product-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 450px;
    /*! padding-left: 5px; */
    margin-left: 108px;
}

.discount-product {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20
}

.discount-product p {
    background: var(--theme-color-1);
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    color: var(--theme-color-7);
    letter-spacing: 1px;
    padding: 5px 10px
}

.product-image #show {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.product-image #show #include {
    width: auto;
    max-width: 444px;
    padding: 13px 22px;
    box-sizing: border-box;
    border: 2px solid #F0F0F0;
    height: auto;
}

#show #include #image-main {
    height: auto;
    width: auto;
    max-width: 400px;

    margin: 0 auto;
    display: block;
    object-fit: contain
}

ul.thumbs {
    max-width: 470px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
}

ul.thumbs .owl-next {
    right: -10px
}

ul.thumbs .owl-prev {
    left: -10px
}

ul.thumbs  li {
    width: 90px;
    height: 90px;
    border: 1px solid #f0f0f0;
    padding: 2px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 80px;
}

ul.thumbs li+li {
    margin-left: 10px
}

ul.thumbs img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.product-name .productName {
    font-weight: normal;
    font-size: 20px;
    color: var(--theme-color-12);
    margin-bottom: 10px;
    display: block;
    font-family: Josefin Sans;
}

.product-rating {
    margin-bottom: 20px;
    padding: 20px 0px;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

.product-rating strong {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-6);
    display: none;
}

.valor-de {
    font-weight: 500;
    font-size: 19px;
    color: var(--theme-color-10);
    text-decoration: line-through
}

.valor-por {
    font-weight: 700;
    font-size: 41px;
    color: #B81A64;
    font-family: Josefin Sans;
}

.valor-dividido {
    font-weight: 600;
    font-size: 18px;
    color: #E54892;
    margin-top: 20px;
    display: inline-block;
}

.economia-de,
.preco-a-vista {
    display: none!important
}

.buy-button-box {
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.buy-button {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 290px;
    height: 50px;
    line-height: 50px;
    background: #00F2A0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
}

.pull-left {
    float: unset!important;
    margin-left: -40px;
}

.product-details .sku-selector-container,
.product-details .sku-selector-container ul {
    margin-top: 20px
}

.sku-selector li.specification {
    font-weight: 700;
    font-size: 32px;
    color: #000
}

.product-details .box-qtd {
    position: relative;
    height: 50px;
    /*! width: 100%; */
    z-index: 10;
    box-sizing: border-box;
    margin-left: 11px;
    display: flex;
    align-items: center;
}

.product-details .box-qtd .qtd {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    color: var(--theme-color-9);
    font-family: Josefin Sans;
    font-style: italic;
    border-bottom: 1px solid;
    max-width: 160px;
}

.sku-selector li.specification {
    font-weight: 700;
    font-size: 15px;
    color: var(--theme-color-5);
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px
}

.product-details .sku-selector input {
    display: none
}

.product-details .sku-selector label {
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--theme-color-2);
    display: inline-block;
    margin-right: 5px;
    padding: 0 10px;
    color: var(--theme-color-2)
}

.sku-selector label.sku-picked {
    background: var(--theme-color-2);
    color: var(--theme-color-3)
}

.product-details .box-qtd::before {
    content: "Qtd.";
    font-weight: 500;
    font-size: 14px;
    color: #A8A8A8;
    /* position: absolute; */
    /* left: 0; */
    /* top: -27px; */
    display: block;
    font-family: Josefin Sans;
    z-index: 99;
}

.product-details .box-qtd .btn {
    background: transparent;
    border: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    color: var(--theme-color-12);
    width: 30px;
    text-align: center;
    z-index: 999
}

.product-details .box-qtd .btn-mais {
    top: 0;
    right: 0;
    height: 100%;
    color: var(--theme-color-12)
}

.product-details .box-qtd .btn-menos {
    top: 0;
    left: 0;
    height: 100%
}

.product-details .shipping-box {
    position: relative
}

.shipping-box .close,
.shipping-box .header,
.shipping-box .quantity,
.shipping-box p {
    display: none
}

.shipping-box .prefixo {
    font-weight: normal;
    font-size: 11px;
    color: #A8A8A8;
    display: inline-block;
    margin-top: 55px;
    font-size: 0;
    display: inline-flex;
    align-items: center;
    font-family: Josefin Sans;
}

label.prefixo:before {
    float: left;
    content: "Calcular frete";
    width: 90px;
    height: 11px;
    font-size: 14px;
    color: black;
}

input#txtCep::-webkit-input-placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-10);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363;
    margin-left: 29px;
}

input#txtCep::-moz-placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-10);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363;
    margin-left: 29px;
}

input#txtCep:-ms-input-placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-10);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363;
    margin-left: 29px;
}

input#txtCep::-ms-input-placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-10);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363;
    margin-left: 29px;
}

input#txtCep,
input#txtCep::placeholder {
    display: block;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 5px;
    width: auto;
    border: none;
    max-width: 150px;
    border-bottom: 1px solid #f0f0f0;
}

#btnFreteSimulacao {
    background: #484848;
    width: 85px;
    height: 22px;
    border: 0;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    margin-top: 5px;
    position: relative;
    top: 2.5px;
    margin-left: 0;
    border-radius: 3px;
}

.freight-values table thead {
    display: none
}

.freight-values table {
    width: 100%;
    margin: 10px 0
}

.freight-values tbody tr td:last-child {
    display: none
}

.freight-values tbody tr td {
    background: #f7f7f7;
    color: #636363;
    padding: 15px;
    font-weight: 300;
    font-size: 18px;
    text-align: center
}

.freight-values tbody tr td:first-child,
.freight-values tbody tr td:nth-child(2) {
    border-right: 1px solid #fff;
    text-align: center
}

span.cep-busca a {
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--theme-color-9);
    display: block;
    font-size: 13px;
    display: none;
}

.portal-notify-me-ref {
    position: absolute;
    z-index: 11;
    background: #fff;
    top: -30px
}

.notifyme.sku-notifyme {
    text-align: center;
    border: unset;
    padding: 10px 5px;
    box-sizing: border-box;
    background: #f5f5f5;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

h3.notifyme-title {
    font-weight: 700;
    color: #999
}

.notifyme-form p {
    font-weight: 300;
    color: #999;
    text-transform: lowercase;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px
}

.notifyme-form input {
    margin: 5px 0;
    box-sizing: border-box;
    width: 80%;
    height: 35px;
    padding: 0 15px;
    font-size: 15px;
    border: 1px solid #ddd;
    font-weight: 300;
    font-style: italic;
    color: #999
}

#notifymeButtonOK {
    display: block!important;
    margin-left: auto;
    margin-right: auto;
    background: #202020;
    height: 40px;
    border: 0;
    color: #fff
}

.product-description {
    margin-top: 45px;
    margin-bottom: 60px
}

.margin-product {
    margin-top: 30px;
}

.item-descrip {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.item-descrip li {
    background: #ebebeb;
    margin-right: 4px;
    height: 40px;
    line-height: 40px;
    width: 260px;
    text-align: center;
    -webkit-transition: .1s;
    transition: .1s
}

.item-descrip li a {
    color: var(--theme-color-12);
    font-weight: 700;
    font-size: 14px
}

.product-desc-container {
    background: #fff;
    padding: 20px 25px;
    min-height: 200px
}

.item-descrip li.item-desc-active {
    color: var(--theme-color-1) 0;
    font-weight: 700;
    border-bottom: 5px solid var(--theme-color-2);
    background: #fff;
    font-size: 18px;
    padding: 3px 0
}

ul.item-descrip li.item-desc-active a {
    font-size: 18px
}

#descricao {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-10)
}

#descricao p+p {
    margin-top: 10px
}

div#avaliacao,
div#especificacao {
    display: none
}

div#caracteristicas>h4 {
    display: none
}

.titulo-desc-produto {
    text-align: center;
    border-bottom: 2px solid #E7609F;
    font-family: Josefin sans;
    font-weight: bold;
    color: #484848;
    font-size: 21px;
    padding-bottom: 3px;
}

.titulo-ava-produto {
    text-align: center;
    border-bottom: 2px solid #E7609F;
    font-family: Josefin sans;
    font-weight: bold;
    color: #484848;
    font-size: 21px;
    padding-bottom: 3px;
}

.productDescription {
    font-family: Josefin sans;
    font-size: 16px;
    font-weight: normal;
    margin-top: 34px;
    margin-bottom: 80px;
}

@media all and (max-width:991px) {
    .shipping-box .prefixo {
        /*! width: calc(100% - 120px) */
    }
    .product-details .box-qtd .btn-mais {
        border-left: 1px solid var(--theme-color-8)
    }
    .product-details .box-qtd .btn-menos {
        border-right: 1px solid var(--theme-color-8)
    }
    .portal-notify-me-ref {
        width: 100%;
        margin-top: 0;
        position: relative;
        top: -100px
    }
    .notifyme-form p {
        font-size: 15px
    }
    .product-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .product-image {
        margin: 0 auto;
        margin-bottom: 20px
    }
    .product-info {
        margin: 0 auto;
        text-align: left;
        padding: 0;
        width: 100%;
    }
    .avalie-produto {
        top: 250px
    }
    ul#ulPubliqueResenha {
        top: 300px
    }
    .buy-button-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center!important;
        /*! -webkit-justify-content:center!important; */
        -ms-flex-pack: center!important;
        flex-wrap: wrap;
    }
    .box-qtd {
        margin: 0 auto!important;
        /*! margin-right: 20px!important */
    }
    .box-qtd::before {
        text-align: center;
        margin: 0 auto;
        right: 0
    }
    input#txtCep::-webkit-input-placeholder {
        max-width: 245px
    }
    input#txtCep::-moz-placeholder {
        max-width: 245px
    }
    input#txtCep:-ms-input-placeholder {
        max-width: 245px
    }
    input#txtCep::-ms-input-placeholder {
        max-width: 245px
    }
    input#txtCep,
    input#txtCep::placeholder {
        width: 100%
    }
    .product-details .box-qtd .qtd {
        background: 0 0;
        width: 120px
    }
}

@media all and (max-width:767px) {
    .zoomPreload,
    .zoomWindow {
        display: none!important
    }
    .item-descrip {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .item-descrip li {
        margin-right: unset;
        width: 100%;
        margin-bottom: 10px
    }
    #btnFreteSimulacao {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        float: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        position: static
    }
    input#txtCep::-webkit-input-placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
    input#txtCep::-moz-placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
    input#txtCep:-ms-input-placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
    input#txtCep::-ms-input-placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
    input#txtCep,
    input#txtCep::placeholder {
        display: block;
        margin: 0 auto;
        width: 100%
    }
}

@media all and (max-width:567px) {
    .product-image #show #include {
        width: 100%;
        height: auto
    }
    ul.thumbs {
        display: block;
        max-width: 200px!important
    }
    .product-name .productName {
        font-size: 25px
    }
    .valor-de {
        font-size: 20px
    }
    .valor-por {
        font-size: 28pt
    }
    .bread-crumb li a {
        font-size: 12px
    }
    ul.thumbs li+li {
        margin: 0
    }
    .buy-button {
        font-size: 15px
    }
}

@media all and (max-width:991px) {
    .buy-button {
        min-width: 100%;
        width: 100%;
        margin-top: 20px;
    }
}







@media all and (max-width:468px) {
/* produto.css | http://marias.vtexlocal.com.br/arquivos/produto.css?v=637324102868570000 */

    .product-image #show #include {
            /* width: auto; */
            /* max-width: 444px; */
            /* max-height: 421px; */
            width: 100%;
            max-width: 260px;
    }

    #show #include #image-main {
            /* max-width: 400px; */
            /* max-height: 400px; */
            max-width: 200px;
    }

}

    ul.thumbs img {
            /* width: 100%; */
            /* height: 100%; */
            width: 55px;
            /*! height: auto; */
            margin: auto;
    }

.valor-de.price-list-price{
    color:#ADADAD;
    font-size:20px;
    font-weight: bold; 
}